/*** Large Devices only *****/
@media (min-width: 992px)  {
h1{
	text-align: center;
	padding-top: 80px;
}
body{
	position: relative;
}
#p1 {
	position: relative;
	top: 50px;
	left: 20px;
	float: left;
	color: black;
	clear: right;
	border: 1px solid black;
	background-color:lightblue; 
	text-align: justify;
	width:30%;
	height:50%;
	margin-bottom: 30px;
}
#p2{
	position: relative;
	top: 75px;
	left: 60px;
	color: black;
    border: 1px solid black;
	background-color:lightblue; 
    text-overflow: ellipsis;
    width: 30%;
    height: 50%;
    margin-bottom: 30px;
}
#p3{
	position: relative;
	top: 50px;
	right: 20px;
	color: black;
	float: right;
	border: 1px solid black;
	background-color:lightblue; 
    text-align: justify;
	width:30%;
	height:50%;
	margin-bottom: 30px;
}
}
/***** Medium devices only ******/
@media(min-width: 768px) and (max-width: 991px){
h1{
	text-align: center;
	padding-top: 80px;
}
#p1 {
	color: black;
	border: 1px solid black;
	background-color:lightblue; 
	text-align: justify;
	width:60px;
	height:60px;
	margin-bottom: 15px;
}
#p2{
	color: black;
	border: 1px solid black;
	background-color:lightblue; 
	text-align: justify;
	width:60px;
	height:60px;
	margin-bottom: 15px;
}
#p3{
	color: black;
	border: 1px solid black;
	background-color:lightblue; 
	text-align: justify;
	width:60px;
	height:60px;
	margin-bottom: 15px;
}
}
/******** Small devices only *******/
@media  (min-width: 1px ) or (max-width: 767px){
h1{
	text-align: center;
	padding-top: 80px;
}
#p1 {
	color: black;
	border: 1px solid black;
	background-color:lightblue; 
    text-align: justify;
	width:40%;
	height:40%;
	margin-bottom: 15px;
}
#p2{
	color: black;
	border: 1px solid black;
	background-color:lightblue; 
    text-align: justify;
	width:40%;
	height:40%;
	margin-bottom: 15px;
}
#p3{
	color: black;
	border: 1px solid black;
	background-color:lightblue; 
    text-align: justify;
	width:40%;
	height:40%;
	margin-bottom: 15px;
}
}

